* {
  box-sizing: border-box;
  color: #fff;
  font: 20px sans-serif;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1.5px #000;
}
  
a {
  text-decoration: none;
}
  
h1 {
  color: #fff;
  font: 2rem sans-serif;
}
  
cite {
  font: .9rem sans-serif;
}
  
/* Navbar */
  
.navbar, .navbar__ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar {
  box-shadow: 1px 1px 5px #000;
  height: 50px;
}
  
.navbar__ul {
  gap: 20px;
}

.navbar__ul li {
  list-style-type: none;
}

.navbar a {
  color: #000;
  text-shadow: none;
}

/* Contenido */

.contenido {
  align-items: center;
  background: url('../images/tunic-images/tunic-3.jpg') no-repeat center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 40px 10px;
}

.contenido li {
  color: white;
  margin: 10px 0;
}
.contenido a {
  color: white;
  text-decoration: underline;
}

/* Responsive */

@media (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  .contenido a {
    font-size: 1.3rem;
  }
}

