<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosses</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">

        <section>
            <h1>Boss Guide</h1>
            <p>The world in Tunic is filled with monsters around every corner and like most adventure games, you’re bound to run into a boss or two throughout your journey. But some victories may come easier than others - and if that’s the case, we’re here to help. </p>
        </section>

        <hr> 

        <!-- Garden Knight -->
        <section>
            <h2>Garden Knight</h2>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-1.avif" alt="tunic-boss-1">
            </div>
            <p>The Garden Knight is a boss in Tunic that you'll encounter in the West Garden attempting to ring the West Bell. In this guide, you'll find information about this boss and tips and tricks on how to defeat them. </p>

            <h3>How to Beat the Garden Knight</h3>
            <p>You need to set yourself up for success before taking on the Garden Knight. In fact, page 19 of the in-game instruction manual even recommends that you level up your attack and defense stats to at least level 3 before taking on this beast. </p>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-2.webp" alt="tunic-boss">
            </div>
            <p>The Garden Knight can deal some pretty devastating attacks, like powerful charges that shoot a wide spray of lasers, three consecutive hard swings and a fiery spinning sword attack topped with an uppercut. </p>
            <p>That being said, it's not all gloom and doom. Bombs work great for this boss and most importantly, the Magic Dagger will freeze the Knight in place for a few seconds, giving you an excellent opportunity each time to deal some serious damage before it breaks away to go on another rampage. </p>
        </section>

        <hr>

        <!-- Siege Engine -->
        <section>
            <h2>Siege Engine</h2>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-3.webp" alt="tunic-boss">
            </div>
            <p>The Siege Engine is a boss in Tunic that you'll encounter while searching for the red key in the Interior of the Eastern Vault. In this guide, you'll find information about this boss and tips and tricks on how to defeat them. </p>
            <h3>How to beat the Siege Engine</h3>
            <p>The Siege Engine is one of the three bosses you need to defeat in order to obtain one of the Sealed Temple keys. A large, fiery spider-like creature, the Siege Engine can be frustratingly difficult because of its long reach and ranged attacks that will keep you on your toes and running for your life. Luckily, you've got enough real estate around you to do so. </p>
            <p>The Siege Engine has two weak points: its face and its core, which is tucked closely behind it. If you're speedy enough to get under it, try to stay behind it as attacking this weak point deals more damage than attacking it from the front.</p>
            <p>Because it scurries around so quickly and often, bombs don't work very well against this boss. The Magic Dagger, however, works great at locking it in place, allowing you to clobber it mercilessly with your sword. If you're running low on magic, the Siege Engine does periodically summon Faeries to attack and annoy you but killing these creatures will leave magic drops for you to restore your MP. Don't get careless, though. You can use your shield against the Faeries' beams, but stay protected from the Siege Engine as well. </p>
            <p>The Siege Engine has several attack phases that it varies depending on your distance. Out of all its weapons, its high-powered charge beam is the most devastating. But like its machine gun fire, it can be outrun and out-dodged. </p>
            <p>There are two keys to beating the Siege Engine easily, but you'll need to be patient as it does take a while. For one, stay close. Secondly, always be circling your enemies while locked on and rolling towards it. Yes, you can avoid the beam and bullets by hiding behind stone structures, but it's much more efficient to just stay close. Whenever it jumps away, sprint and roll after it and close in fast. </p>
        </section>

        <hr>

        <!-- The librarian -->
        <section>
            <h2>The Librarian</h2>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-4.webp" alt="tunic-boss">
            </div>
            <p>The Librarian is a boss in Tunic that you'll encounter while searching for the green key in the Great Library. In this guide, you'll find information about this boss and tips and tricks on how to defeat them. </p>
            <h3>How to beat The Librarian</h3>
            <p>The Librarian's attacks will vary. They can and will lunge towards you to hurt you with close ranged sword attacks but will also float away from the platform and swing their sword to send out waves of dark energy. If they swing their blade vertically, it will leave a vertical path of dark fire. If the swing is horizontal, watch out for a dark, fiery wave. </p>
            <p>They will also float away from the area and summon a series of dark energy bombs that will spawn on each corner of the platform and rush forward. While these are easy enough to dodge, they can still pose a major threat if you're not careful. </p>
            <p>Periodically the Librarian will summon dark version of monsters like Rudelings so be prepared to fend them off on top of the boss floating around you. </p>
        </section>

        <hr>

        <!-- Boss Scavenger -->
        <section>
            <h2>Boss Scavenger</h2>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-5.webp" alt="tunic-boss">
            </div>
            <p>The Boss Scavenger is a boss in Tunic that you'll encounter while searching for the blue key in the Hidden Vault. In this guide, you'll find information about this boss and tips and tricks on how to defeat them. </p>
            <h3>How to beat Boss Scavenger</h3>
            <p>It's a good idea to equip bombs and the Magic Orb before this fight because the Boss Scavenger will repeatedly block your attacks with its shields. Using bombs or the Magic Orb are great ways to bypass this annoying defense tactic. </p>
            <p>The Boss Scavenger relies heavily on melee attacks like turning its shield into a laser sword and rushing at you, affording it a huge reach no matter how far away on the platform you run. It will also occassionally kick you if you get too close, requiring you to be quick on your feet and roll backwards to avoid getting hurt.</p>
            <p>Attached to his arm is a shotgun, which fires a wide spray of bullets in your direction. Use the barrels on the platform to your advantage and hide behind them when he uses this tactic. </p>
            <p>Finally, the Boss Scavenger will at times leap to the center of the platform which will send shockwaves throughout the stage. </p>
        </section>

        <hr>

        <!-- The Heir -->
        <section>
            <h2>The Heir</h2>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-6.webp" alt="tunic-boss">
            </div>
            <p>The Heir is the final boss you'll encounter in Tunic. In this IGN guide, you'll find information about this boss and tips and tricks on how to defeat them. </p>

            <h3>How to beat The Heir - Part One</h3>

            <p>Like in a lot of classic games, you'll actually fight the final boss twice : the first time you'll fight this ghostly being will be after you return all three keys to the Sealed Temple and fast travel to the Otherword via the golden teleporation pads. </p>
            <p>You'll be lucky if you can land a few strikes during your first fight with the Heir before they strike you down and out. Luckily though, this is a boss fight you're supposed to lose so don't freak out when you inevitably meet your demise. </p>
            <p>After dying and then restoring your body, you'll return back to the Otherworld and face the Heir in one final battle - and this time, if you die, it'll be game over. </p>

            <h3>How to beat The Heir - Part Two</h3>

            <p>This final Heir boss fight is split up into two phases. </p>
            <p>Before you enter the arena make sure that you have the Scavenger's Mask equipped. In the second phase of the fight, the Heir will deliver a strike with their sword that leaves a trail of dark miasma in its wake which will cause your maximum HP to shrine as well as drain it at the same time. </p>
            <p>Since you were able to catch a glimpse of the Heir's weapon before they were freed from their prism prison, you'll know that the sword is large so it will have a long reach. The Heir will attack you with a mix of horizontal and vertical slashes and while they can at times be slow to connect, the Heir will also infrequently lunge at you so you'll need to stay on your toes at all times. </p>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-7.webp" alt="tunic-boss">
            </div>
            <p>The Heir won't always keep their distance though. When close enough they'll drive their sword into the ground which will create a ring of energy that will ripple outwards so try to create distance between you two when this happens to avoid getting shocked. </p>
            <p>When the Heir raises their sword above their head be prepared to dodge the incoming attack from the sky. Bolts of light will start to rain down on the stage. While this is happening though, the Heir will continue their regular melee attacks so you'll need to be quick on your feet to dodge the attacks from above and below. </p>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-8.webp" alt="tunic-boss">
            </div>
            <p>Be sure to memorize the Heir's attack patterns. As the battle rages on, the number of strikes and intensity of an attack will increase: a lunge attack will now include area of effect damage, a single shock wave will become three and regular strikes will inflict more damage. </p>
            <p>The second phase of the boss battle will begin as soon as you reduce the Heir's HP down to 0. They'll stand back up and begin to use the dark miasma energy that drains your HP. This why it's important to equip the Scavenger's Mask at the beginning of the fight - if you don't, you probably won't have the time to do so. </p>
            <div class="imagen">
                <img src="~/images/tunic-bosses/tunic-boss-9.webp" alt="tunic-boss">
            </div>
            <p>Now that they're using the dark energy, each one of their attacks will deal additional poison damage on top of the already upped damage. And just like before, the number of strikes and intensity of an attack will increase yet again. </p>
            <p>The Heir isn't particularly quick (partially due to the size and weight of their sword) and now that you have the teleporting crown, you'll be able to zip over to them quickly to get a few strikes in. However, you'll need to keep an eye on your stamina to avoid tiring yourself out and being unable to dodge an attack. </p>
            <p>If you've found the Hourglass, this will be a great asset to you during this fight. You can use it to slow time down and gain the upper hand by teleporting behind the Heir and striking them as many times as you can. </p>
            <p>As in previous fights, items like bombs (of any variety) and the Magic Wand will always prove to be helpful, especially if you're low on HP and are trying to keep your distance. The Heir will never try to purposely stay away from you so the Magic Orb won't be of much use here. While this may prove to be a challenging fight, memorzing the Heir's attack patterns will be your key to victory. </p>

        </section>

    </main>


</body>
</html>