<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenido</title>
    @Styles.Render("~/Contenido/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <section class="contenido">
        <h1>Content</h1>
        <ul class="contenido__ul">
            <li><a href="Items">Items Guide</a></li>
            <li><a href="Bosses">Boss Guide</a></li>
            <li><a href="#">Card Abilities Guide</a></li>
            <li><a href="Sword">How to Find the Sword</a></li>
            <li><a href="Shield">How to Find the Shield</a></li>
            <li><a href="OverworldMap">How to Find the Overworld Map</a></li>
            <li><a href="MagicDagger">How to Find the Magic Dagger</a></li>
            <li><a href="Linterna">How to Find the Lantern</a></li>
            <li><a href="MagicOrb">How to Find the Magic Orb</a></li>
            <li><a href="MagicWand">How to Find the Wand</a></li>
            <li><a href="Gun">How to Find the Gun</a></li>
            <li><a href="Hourglass">How to Find the Hourglass</a></li>
        </ul>
    </section>

</body>
</html>