<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Gun</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">
        <section>
            <h1>How to Find the Gun</h1>
            <p>The Gun is a long ranged magic weapon in Tunic that shoots a wide spray of bullets. In this IGN guide, you'll step by step instructions on how to find one of the last weapons available in Tunic.</p>
            <p>The Gun is found in the Quarry on your way to collect the blue Sealed Temple key, so it won't be accessible (or at least, not very easily) until you've gone through the Fortress of the Eastern Vault and the Great Library. Additionally, in order to reach the specific area where the Gun is located, you'll need to go through the Monastary portion fo the Quarry and acquire the Scavenger's Mask, otherwise getting this final weapon is going to be much harder than it needs to be.</p>
            <p>After equipping the Scavenger's Mask and exiting the Quarry, follow the grassy path all the way and take the stairs and the following path down to the base of the mountain. Once you see what appear to be steel tracks to your right, run along the narrow ledge on the left to find a short hidden passage that leads to the next area.</p>
            <div class="imagen">
                <img src="~/images/tunic-gun/tunic-gun-1.webp" alt="tunic-gun">
            </div>
            <p>There you'll find 3 armed Scavenger enemies. Quickly clear the area and run to the far left where you'll find a treasure chest near the ledge of the cliff. Inside the chest will be the Gun.</p>
            <div class="imagen">
                <img src="~/images/tunic-gun/tunic-gun-2.webp" alt="tunic-gun">
            </div>
            <p>Because the gun's shots fan out to cover a wide range, this will be especially helpful if you find yourself fighting multiple enemies at one time.</p>
        </section>
    </main>
    
</body>
</html>