<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Hourglass</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">
        <section>
            <h1>How to Find the Hourglass</h1>
            <p>The Hourglass is an incredibly helpful magic item you can use on your adventure, particularly during boss fights where you feel you'd have more of an edge against your opponent if you could only slow them down. Luckily for you, the Hourglass works by slowing down time, allowing you more time to react and stay a step ahead of your opponent or allow more time to switch out items or charms mid-fight.</p>
            <p>Since the Hourglass is a magic item, it will steadily drain your MP as you use it to slow down time but you can always stop when you want to.</p>
            <p>Like a lot of things in Tunic, finding the Hourglass can be kind of tricky if you don't know where to look.</p>
            <p>To find the room, starting from the Old House in the Overworld, head to the south western beach and find the bridge that leads to the Ruined Atoll. Under this bridge is a hidden room that you can walk into.</p>
            <div class="imagen">
                <img src="~/images/tunic-hourglass/tunic-hourglass-1.webp" alt="tunic-hourglass">
            </div>
            <p>Inside the room will be 3 Autobolt turrets (two on the right, one on the left) so be sure to not just run in without taking them out first. At the end of the room will be a treasure chest containing the Hourglass.</p>
            <div class="imagen">
                <img src="~/images/tunic-hourglass/tunic-hourglass-2.webp" alt="tunic-hourglass">
            </div>
        </section>
    </main>

</body>
</html>