<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items-guide</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    
    <main class="contenedor-principal">
        <section>
            <h1>Items Guide</h1>
            <p>This page contains names, explanations, uses, costs and locations of items in Tunic. Items at first are a total mystery without page 20 of the manual -- and even after that they remain confusing and largely unexplained. Many items like bombs and fruits are equippable, single use items, while others like the magic items, are permanent upgrades that drain your magic bar. Here's the page that describes items in the game:</p>
            <div class="imagen">
                <img src="~/images/tunic-items/tunic-items.webp" alt="tunic-items">
            </div>
            <p>Some items can be purchased in the shop, like bombs and temporary restoration items like the Pink and Blue Fruit. One of the shops is just to the right of the central overworld save point (in the rear of the windmill). Other items can be found only in chests or as key quest items. Locations are noted below but you can find their locations listed in-depth in the Walkthrough. You can find more helpful pickups described in the Ability Cards Guide, too. Below you'll find a more complete list of items and their uses.</p>
        </section>
        
        <hr>
    
        <section>
            <h2>Sword</h2>
            <p>Your second weapon. See <a href="#">How to Find the Sword.</a></p>
        </section>

        <hr>

        <section>
            <h2>Shield</h2>
            <p>Your first shield. See <a href="#">How to Find the Shield.</a></p>
        </section>

        <hr>

        <section>
            <h2>Stick</h2>
            <p>Your first weapon. The stick is inside the house near the beach in the Overworld.</p>
        </section>

        <hr>

        <section>
            <h2>Ice Bomb</h2>
            <p>A single use item that causes an ice explosion that freezes enemies. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>
        
        <hr>

        <section>
            <h2>Explosive Bomb</h2>
            <p>A single use item that causes an damaging explosion. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>

        <hr>

        <section>
            <h2>Fire Bomb</h2>
            <p>A single use item that causes a fire explosion that burns enemies. Can be purchased from the windmill shop in the center of the overworld or other shops.
            </p>
        </section>

        <hr>

        <section>
            <h2>Keys</h2>
            <p>Single use items found in treasure chests that open doors in the overworld.</p>
        </section>

        <hr>

        <section>
            <h2>Pink Fruit</h2>
            <p>A single use item that restores your life bar slightly. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>

        <hr>

        <section>
            <h2>Blue Fruit</h2>
            <p>A single use item that restores your magic bar slightly. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>

        <hr>

        <section>
            <h2>Hot Pepper</h2>
            <p>A single use item that boosts your attack briefly. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>

        <hr>

        <section>
            <h2>Ivy</h2>
            <p>A single use item that boosts your defense briefly. Can be purchased from the windmill shop in the center of the overworld or other shops.</p>
        </section>

        <hr>

        <section>
            <h2>Effigy</h2>
            <p>Grants a gift of money.</p>
        </section>

    </main>

</body>
</html>