<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Lantern</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>

     <!-- Navbar -->
     <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">

        <section>
            <h1>How to Find the Lantern</h1>
            <p>The Lantern will offer you a small source of light to guide you through pitch black areas like the Dark Tomb, so it’s important to get this item before you accidentally wander into these areas while ill prepared.</p>
            <p>To find the Lantern, you’ll need to go Under The Well and and make your way to the southwest exit at the bottom of the map. Once you find this exit, it will lead you to a closed off hallway outside and into a hidden room below the Belltower. Take the steps up to find the Lantern sitting on the corner of the platform.</p>
            <p>You can then head back through the hallway and into the Well. With your new lights source, you’ll see an entryway to a room on the right. Defeat the monsters inside and pull the lever to open the gate. In the next room you’ll have access to a save point and a ladder which will take you to the entrance of the Dark Tomb.</p>
        </section>

    </main>
    
</body>
</html>