<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Magic Wand</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
     <!-- Navbar -->
     <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">

        <section>
            <h1>How to Find the Magic Wand</h1>
            <p>The Magic Wand in Tunic is an item that easily be missed if you don't look closely enough. On this page, you'll step by step instructions on how to find this invaluable magic weapon.</p>
            <p>The Magic Wand won't be accessible until you've gone through the West Garden. After activating the West Bell, return to the Sealed Temple. Once the cutscene is over, climb the wooden ladder on the right side and run along the edge until you find a wooden bridge that needs to be topped over by pressing the A button.</p>
            <p>Walk across the bridge to the other side and head north until you find an open doorway on the left. Exit the Sealed Temple and continue heading left, climbing the wooden ladder and crossing the bridge in front of the waterfall.</p>
            <div class="imagen">
                <img src="~/images/tunic-magic-wand/tunic-magic-wand.webp" alt="tunic-magic-wand">
            </div>
        </section>

    </main>

</body>
</html>