<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Magic Orb</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>

     <!-- Navbar -->
     <nav class="navbar">
         <ul class="navbar__ul">
             <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
             <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
             <li class="navbar__li"><a href="~/Home/About">About</a></li>
             <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
         </ul>
    </nav>
    
    <main class="contenedor-principal">

        <section>
            <h1>How to Find the Magic Orb</h1>
            <p>The Magic Orb allows you to throw out a whip to grab onto the various hooks and destroyed autobolts that are scattered throughout the Overworld and the surrounding areas. This can be really helpful when you want to get to some hard to reach areas but can’t figure out how to get there.</p>
            <p>The Magic Orb also comes in handy if you want to grab onto an enemy and pull them towards you if they’re too far away for you to reach.</p>
            <p>You can find the Magic Orb in the Frog’s Domain, which is located in the northwest corner of the Ruined Atoll.</p>
        </section>

    </main>

</body>
</html>