<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Magic Dagger</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">

        <section>
            <h1>How to Find the Magic Dagger</h1>
            <p>The Magic Dagger is one of the first magical items you’ll acquire in the game, which allows you to deliver a powerful blow against your enemies and incase them temporarily in ice, giving you previous seconds to strike before they come back to life.</p>
            <div class="imagen">
                <img src="~/images/tunic-magic-dagger/tunic-magic-dagger-1.webp" alt="tunic-magic-dagger">
            </div>
            <p>It’s recommended to get this item before trying to fight the West Garden’s boss, the Garden Knight, as his powerful charging attacks are devastating to your HP and stamina. Using the Magic Dagger on the Garden Knight will stop it in its tracks and give you the chance to deal some damage before it goes on a rampage again.</p>
            <p>You can find the Magic Dagger in the West Garden, in the southwest most corner of the map.</p>
            <div class="imagen">
                <img src="~/images/tunic-magic-dagger/tunic-magic-dagger-2.webp" alt="tunic-magic-dagger">
            </div>
        </section>

    </main>

</body>
</html>