<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Overworld Map</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">
        <section>
            <h1>How to Find the Overworld Map</h1>
            <p>As you explore the world around you in Tunic, you’ll be able to collect pages of a larger in-game manual that offers useful information about game controls and mechanics, like how to properly evade enemy attacks, detailed info about treasures and tools and more. One of these pages is page 28, the Overworld Map.</p>
            <div class="imagen">
                <img src="~/images/tunic-pages/tunic-pages-1.webp" alt="tunic-pages">
            </div>
            <p>You can find this page on a small island to the left of the entrance to the East Forest. However, this path is blocked by square bushes, so you’ll first need to obtain the sword to clear this path. After you’ve made your way back from the Hero’s Grave with the sword in hand, you can cut down the grass and bushes and make your way to the tiny island and pick up this vital piece of the puzzle.</p>
        </section>    
    </main>

</body>
</html>