<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Find the Shield</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="contenedor-principal">
        <section>
            <h1>How to Find the Shield</h1>
            <p>With sword in hand, you’ll now want to make sure you have a shield to go along with it.</p>
            <p>You can find the shield in a chest inside the Old House. But like with the sword, you’ll first need to find a key to unlock the door to get inside. From the Old House, head east on the map until you find a set of stairs leading to a lower level. Keep following the path to find a set of stairs that will lead you to an even lower level. On the right you’ll see a Rudeling and a spear enemy, and most importantly, the key to the old house.</p>
            <div class="imagen">
                <img src="~/images/tunic-shield/tunic-shield-1.webp" alt="tunic-shield">
            </div>
            <p>Once you’ve killed the two creatures, take the key and head back to the Old House to unlock the door. Go through the door in the back of the room and then make a right in the dimly lit hallway. Once you’ve reached the dungeon, cross the makeshift bridge to find and pick up the shield.</p>
            <div class="imagen">
                <img src="~/images/tunic-shield/tunic-shield-2.webp" alt="tunic-shield">
            </div>
        </section>
    </main>

</body>
</html>