<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to find the Sword</title>
    @Styles.Render("~/Articulo/css")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>
    
    <main class="contenedor-principal">
        <section>
            <h1>How to Find the Sword</h1>
            <p>While the stick is a great starter weapon, you’ll quickly realize that it can only get you so far. Some enemies can pack a huge punch and unless you’ve got some amazing dodging skills, you’ll want to find the sword as soon as possible.</p>
            <p>After climbing the first set of stairs, you’ll see a locked door to your right. This door will open up the path to the Hero’s Grave, located in the East Forest, where you’ll be able to find the sword. But first, you’ll need to find the key to open this door.</p>
            <div class="imagen">
                <img src="~/images/tunic-sword/tunic-sword-1.webp" alt="tunic-sword">
            </div>
            <p>Keep running up the series of stairs until you reach a save point. To your left will be a short set of stairs and then a small wooden bridge, where you’ll see the key on the ground. After picking it up, go back to the locked door and make your way through the small hallway.</p>
            <p>Once outside, you’ll see two sets of ladders, one going up and one going down. Climb the ladder going up and afterwards, climb the following ladder too. Run up the flight up stairs and you’ll see a red sign, pointing you towards the East Forest.</p>
            <div class="imagen">
                <img src="~/images/tunic-sword/tunic-sword-2.webp" alt="tunic-sword">
            </div>
            <p>After entering the East Belltower, fight through the enemy blobs and take the path on the bottom right, ignoring the upwards staircase for now. Climb down the ladder and fall into the room below - don’t worry, you’ll be able to make your way back once you have the sword. In the meantime, if you’re hurting for health, be sure to use the lit fox shrine to restore it before heading into the next area.</p>
            <p>Now that you’ve entered the East Forest, make your way along the path and as you do, you’ll find arrow signs pointing you in the direction of the Hero’s Grave.</p>
            <div class="imagen">
                <img src="~/images/tunic-sword/tunic-sword-3.webp" alt="tunic-sword">
            </div>
            <p>Most of the path leading to the Hero’s Grave is blocked by bushes you can’t clear yet, so you’ll need to run along the edges of the cliff to get closer. After defeating the sword enemy, run up the flight of stairs and cross the arch to climb down the ladder and hit the switch, opening the gate. There you’ll find the Hero’s Grave and in front of it, the sword.</p>
            <div class="imagen">
                <img src="~/images/tunic-sword/tunic-sword-4.webp" alt="tunic-sword">
            </div>
            <p>With the sword equipped, you’ll now be able to cut through grass and bushes, opening paths that were previously blocked </p>
        </section>
    </main>

</body>
</html>