<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    @Styles.Render("~/About/css")
    @Styles.Render("~/Styles/css")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <main class="main">

        <article class="about-card">

            <h1 class="about-card__header">Tunic Wiki</h1>

            <p>This website was developed by:</p>

            <ul class="about-card__names">
                <li>Juan Sebastian Muñoz Aranda</li>
                <li>Anderson Valencia Bermúdez</li>
                <li>Jacobo Palacio Arboleda</li>
                <li>Andrés Cardona Carmona</li>
            </ul>

        </article>

    </main>

</body>
</html>