<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tunic Wiki</title>
    @Styles.Render("~/Styles/css")
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="~/Home/Index">Home</a></li>
            <li class="navbar__li"><a href="~/Compartido/Contenido">Content</a></li>
            <li class="navbar__li"><a href="~/Home/About">About</a></li>
            <li class="navbar__li"><a href="~/Forum/Forum">Forum</a></li>
        </ul>
    </nav>

    <!-- Inicio -->
    <section class="inicio">
        <img src="~/images/tunic-logos/tunic-logo-2.png" alt="tunic-logo">
    </section>

    <!-- Descripcion -->
    <section class="descripcion">
        <section class="descripcion__texto">
            <h2>Tunic</h2>
            <p>Tunic is an action-adventure game developed by Canadian indie developer Andrew Shouldice and published by Finji. The game was released in March 2022 on Microsoft Windows and macOS, and on the Xbox Series X/S, and Xbox One as a timed exclusive for consoles. It is scheduled to launch in September 2022 for PlayStation 4 and PlayStation 5.</p>
            <p><cite>"Tunic is an action-adventure about a tiny fox in a big world. Explore the wilderness, discover spooky ruins, and fight terrible creatures from long ago."     - Steam Store</cite></p>
        </section>
        <section class="descripcion__imagen">
            <img src="~/images/tunic-images/tunic-2.jpeg" alt="tunic-imagen">
        </section>
    </section>

</body>
</html>